body {
  margin: 40px;
}

span {
  margin-right: 10px;
  float: right;
}

#Contact {
  font-family: helvetica, sans-serif;
  font-size: 1.3em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}
